<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_attack_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,284},{82,62}}</string>
                <key>offset</key>
                <string>{-27,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{82,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,672},{64,64}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,37},{64,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,878},{60,62}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,39},{60,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1336},{60,64}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,37},{60,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{140,70}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,31},{140,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{94,70}}</string>
                <key>offset</key>
                <string>{-14,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,31},{94,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1288},{94,60}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,41},{94,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,940},{52,62}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,39},{52,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,686},{74,60}}</string>
                <key>offset</key>
                <string>{-21,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{74,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,814},{70,58}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,43},{70,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,142},{76,56}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,45},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{102,102}}</string>
                <key>offset</key>
                <string>{30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,102}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{130,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{70,96}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,5},{70,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,436},{68,66}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{68,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1140},{72,64}}</string>
                <key>offset</key>
                <string>{14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,37},{72,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,216},{84,62}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,39},{84,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,592},{78,62}}</string>
                <key>offset</key>
                <string>{-18,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{78,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,142},{76,72}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,29},{76,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{132,96}}</string>
                <key>offset</key>
                <string>{18,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,13},{132,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,302},{88,56}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,52},{88,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1028},{86,48}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,53},{86,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,936},{48,66}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,37},{48,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,994},{48,66}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,37},{48,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1184},{44,102}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{44,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,530},{60,66}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,35},{60,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,748},{66,62}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,504},{68,64}}</string>
                <key>offset</key>
                <string>{-18,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{68,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{116,106}}</string>
                <key>offset</key>
                <string>{38,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{116,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{118,98}}</string>
                <key>offset</key>
                <string>{40,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,8},{118,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,72},{120,68}}</string>
                <key>offset</key>
                <string>{39,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,34},{120,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{120,68}}</string>
                <key>offset</key>
                <string>{39,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,34},{120,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,478},{110,42}}</string>
                <key>offset</key>
                <string>{35,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,60},{110,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,852},{88,52}}</string>
                <key>offset</key>
                <string>{24,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,52},{88,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_dead_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,620},{90,46}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,55},{90,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,816},{62,60}}</string>
                <key>offset</key>
                <string>{-36,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,45},{62,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,360},{90,24}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,83},{90,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,200},{82,62}}</string>
                <key>offset</key>
                <string>{-27,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,44},{82,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,200},{82,62}}</string>
                <key>offset</key>
                <string>{-27,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,44},{82,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,368},{68,66}}</string>
                <key>offset</key>
                <string>{-17,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{68,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,458},{70,66}}</string>
                <key>offset</key>
                <string>{-18,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,35},{70,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,748},{70,64}}</string>
                <key>offset</key>
                <string>{-18,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{70,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1164},{84,56}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,44},{84,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1250},{84,54}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,49},{84,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,942},{84,56}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,49},{84,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,740},{82,54}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{82,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1290},{82,54}}</string>
                <key>offset</key>
                <string>{-10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,47},{82,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1206},{82,54}}</string>
                <key>offset</key>
                <string>{-10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,48},{82,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,994},{82,56}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,48},{82,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1078},{84,54}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,49},{84,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,360},{96,48}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,53},{96,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1078},{60,56}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,45},{60,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,874},{60,60}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,41},{60,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{110,60}}</string>
                <key>offset</key>
                <string>{20,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,41},{110,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{118,62}}</string>
                <key>offset</key>
                <string>{25,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,39},{118,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{112,56}}</string>
                <key>offset</key>
                <string>{22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,45},{112,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{112,56}}</string>
                <key>offset</key>
                <string>{22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,45},{112,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,620},{74,64}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,44},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,570},{48,66}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,38},{48,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boy.pvr.ccz</string>
            <key>size</key>
            <string>{256,1403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db392785f83a31242ae78f00b5ddcd53$</string>
            <key>textureFileName</key>
            <string>Boy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
