<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_attack_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,80},{76,76}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,162},{66,70}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,31},{66,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,450},{58,62}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,39},{58,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{70,58}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,43},{70,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{118,58}}</string>
                <key>offset</key>
                <string>{28,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,46},{118,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{86,62}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,44},{86,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,378},{80,60}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,41},{80,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,296},{80,60}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,41},{80,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,392},{56,68}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,41},{56,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,80},{80,60}}</string>
                <key>offset</key>
                <string>{9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,41},{80,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,158},{58,76}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,25},{58,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,372},{54,74}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,27},{54,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,450},{54,68}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,33},{54,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,334},{56,70}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,31},{56,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,274},{58,70}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,31},{58,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,76}}</string>
                <key>offset</key>
                <string>{24,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,25},{112,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{94,54}}</string>
                <key>offset</key>
                <string>{15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,50},{94,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_attack_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,80},{80,60}}</string>
                <key>offset</key>
                <string>{9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,41},{80,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_dead_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{68,42}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,60},{68,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{68,42}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,60},{68,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{76,80}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,21},{76,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{76,80}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,21},{76,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,234},{78,68}}</string>
                <key>offset</key>
                <string>{6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,33},{78,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{80,72}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,29},{80,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,66},{78,74}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,27},{78,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{84,66}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,35},{84,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,304},{78,66}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,35},{78,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,142},{76,70}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,32},{76,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bear_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,218},{76,74}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,27},{76,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Enemy.pvr.ccz</string>
            <key>size</key>
            <string>{286,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67456fd80a992eb24a689e8280cdf59$</string>
            <key>textureFileName</key>
            <string>Enemy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
